﻿<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand">IoT Project Web Server</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" *ngIf="currentUser">
                <li title="Home"><a [routerLink]="['/']"><i class="fa fa-home"></i>Home</a></li>
                <li title="Register Device"><a [routerLink]="['/register_device']"><i class="fa fa-plus-square"></i>Register Device</a></li>
                <li title="All Devices"><a [routerLink]="['/all_devices']"><i class="fa fa-list-ul"></i>All Devices</a></li>
                <li title="Device Details" class="active"><a routerLink="/devices/details/{{currentDevice.id}}"><i class="fa fa-info-circle"></i>Device Details</a></li>
                <!--TODO: remove hardcoding the localhost here-->
                <li title="Device Logs"><a target="_blank" href="{{apiUrl}}/uploads/{{currentDevice.id}}"><i class="fa fa-folder"></i> Device Logs</a></li>
                <li title="Logout"><a [routerLink]="['/login']"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-md-12">
    <h2>Device Details</h2>
    <form name="form" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
            <label>Device Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="currentDevice.name" #name="ngModel" required disabled/>
            <div *ngIf="f.submitted && !name.valid" class="help-block">Device name is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
            <label>Device Description</label>
            <input type="text" class="form-control" name="description" [(ngModel)]="currentDevice.description" #description="ngModel" required disabled/>
            <div *ngIf="f.submitted && !description.valid" class="help-block">Device description is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !board_type.valid }">
            <label for="board_type">Board Type</label>
            <select required disabled class="select form-control input-sm" id="board_type" name="board_type" #board_type="ngModel" [(ngModel)]="currentDevice.board_type">
                <option value="raspberry_pi">Raspberry PI</option>
                <option value="odroid">Odroid</option>
            </select>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !log_level.valid }">
            <label>Log Level</label>
            <span *ngIf="currentDevice.log_level === 0">Notset</span>
            <span *ngIf="currentDevice.log_level === 10">Debug</span>
            <span *ngIf="currentDevice.log_level === 20">Info</span>
            <span *ngIf="currentDevice.log_level === 30">Warning</span>
            <span *ngIf="currentDevice.log_level === 40">Error</span>
            <span *ngIf="currentDevice.log_level === 50">Critical</span>
        </div>

        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && currentDevice.communication_protocols.length === 0 }">
                        <label>Communication Protocols</label>
                    </div>
                </div>

                <div class="panel-body" *ngFor="let communication_protocol of currentDevice.communication_protocols; let i = index">
                    <h4><b>Protocol # {{i + 1}}</b></h4>
                    <div class="row form-group">
                        <div class="col-md-2" [ngClass]="{ 'has-error': f.submitted && !communication_protocol.security_type-i.valid }">
                            <label>Security Type</label>
                            <input type="text" class="form-control" name="security_type-{{i}}" [(ngModel)]="communication_protocol.security_type" #communication_protocol.security_type="ngModel" disabled/>
                        </div>

                        <div class="col-md-3" [ngClass]="{ 'has-error': f.submitted && !communication_protocol.communication_type-i.valid }">
                            <label>Communication Type</label>
                            <input type="text" class="form-control" name="communication_type-{{i}}" [(ngModel)]="communication_protocol.communication_type" #communication_protocol.communication_type="ngModel" disabled/>
                        </div>

                        <div class="col-md-2">
                            <label>Api Version</label>
                            <input type="text" class="form-control" name="api-{{i}}" [(ngModel)]="currentDevice.api_version" disabled/>
                        </div>

                        <div class="col-md-3" [ngClass]="{ 'has-error': f.submitted && !communication_protocol.topic-i.valid }">
                            <label>Kafka Topic</label>
                            <input type="text" class="form-control" name="topic-{{i}}" [(ngModel)]="communication_protocol.topic" #communication_protocol.topic="ngModel" required disabled/>
                        </div>


                    </div>

                    <div class="row form-group">
                        <!--<div class="col-md-12 panel-heading" [ngClass]="{ 'has-error': f.submitted && communication_protocol.bootstrap_servers.length === 0 }">-->
                        <div class="col-md-12 panel-heading">
                            <label>Bootstrap Servers</label>
                            <hr>
                        </div>

                        <div class="panel-body" *ngFor="let bootstrap_server of communication_protocol.bootstrap_servers; let j = index" >
                            <div class="col-md-4">
                                <label>Bootstrap Server IP Address</label>
                                <input type="text" class="form-control" name="bootstrap_ip_address-{{i}}-{{j}}" [(ngModel)]="bootstrap_server.ip_address"
                                       minlength="7" maxlength="15" placeholder="127.0.0.1" required disabled/>
                            </div>
                            <div class="col-md-4">
                                <label>Bootstrap Server Port</label>
                                <input type="number" class="form-control" name="bootstrap_server.port-{{i}}-{{j}}" [(ngModel)]="bootstrap_server.port" [min]="0" [max]="65535" required disabled/>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

        <div class="form-group" *ngIf="currentDevice.board_type === 'raspberry_pi' ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && currentDevice.devices.length === 0 }">
                        <a target="_blank" href="http://sensorkit.en.joy-it.net/index.php?title=Main_Page">Sensors Wiki</a>
                    </div>
                </div>

                <div class="panel-body" *ngFor="let device of currentDevice.devices; let i = index">
                    <h4><b>Sensor # {{i + 1}}</b></h4>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>Device Type</label>
                            <span>{{device.type}}</span>
                        </div>

                        <div class="col-md-2" [ngClass]="{ 'has-error': f.submitted && !device.interval-i.valid }">
                            <label>Read Interval (in seconds)</label>
                            <span>{{device.interval}}</span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12 panel-heading" [ngClass]="{ 'has-error': f.submitted && keys(device.input_output).length === 0 }">
                            <label>Input/Output Types</label>
                            <hr>
                        </div>
                        <div class="panel-body" *ngFor="let key of keys(device.input_output); let j = index">
                            <div class="col-md-3">
                                <label>Type</label>
                                <span>{{values(device.input_output)[j].type}}</span>
                            </div>
                            <div class="col-md-2">
                                <label>Name</label>
                                <span>{{values(device.input_output)[j].name}}</span>
                            </div>
                            <div class="col-md-1">
                                <label>Pin</label>
                                <span>{{values(device.input_output)[j].pin}}</span>
                            </div>

                            <div class="col-md-2" *ngIf="values(device.input_output)[j].type==='OneWireInputOutput'">
                                <label>Slave Name</label>
                                <span>{{values(device.input_output)[j].slave_name}}</span>
                            </div>

                            <div class="col-md-2" *ngIf="values(device.input_output)[j].type==='OneWireInputOutput'">
                                <label>Base Directory</label>
                                <span>{{values(device.input_output)[j].base_dir}}</span>
                            </div>

                            <div class="col-md-2" *ngIf="values(device.input_output)[j].type==='GPIOInput'">
                                <label>Pull Up/Down</label>
                                <span>{{values(device.input_output)[j].gpiopullupdown}}</span>
                            </div>
                            <div class="col-md-2" *ngIf="values(device.input_output)[j].type==='GPIOADCInput'">
                                <label>GPIO ADS Value</label>
                                <span>{{values(device.input_output)[j].gpioadsvalue}}</span>
                            </div>
                            <div class="col-md-2" *ngIf="values(device.input_output)[j].type==='GPIOADCInput'">
                                <label>GPIO ADC Channel</label>
                                <span>{{values(device.input_output)[j].gpioadcchannel}}</span>
                            </div>
                            <div class="col-md-2" *ngIf="values(device.input_output)[j].type==='GPIOBMP280Input'">
                                <label>Address</label>
                                <span>{{values(device.input_output)[j].bmp_address}}</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </form>
</div>
<!--<div class="col-md-6" *ngIf="!is_enough_logs">-->
    <!--&lt;!&ndash;TODO: remove hard-coding the localhost!!&ndash;&gt;-->
    <!--<a target="_blank" href="http://localhost:4000/uploads/{{currentDevice.id}}"><i class="fa fa-folder"></i> Device Logs</a>-->
    <!--<div class="panel panel-default">-->
        <!--<div class="panel-body" >-->
            <!--<table class="table" style="margin-top: 20px" >-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th scope="col" class="col-md-1">#</th>-->
                    <!--<th scope="col" class="col-md-3">File Name</th>-->
                    <!--<th scope="col" class="col-md-2">Action</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr *ngFor="let file of trimmed_file_paths; let i = index">-->
                    <!--<td style="width: 1%">{{i + 1}}</td>-->
                    <!--<td style="width: 1%">{{file}}</td>-->
                    <!--<td style="padding-right: 0px" >-->
                        <!--<button class="btn btn-xs btn-default" type="button" routerLink="/uploads/{{currentDevice.id}}/{{file}}">-->
                            <!--<i class="fa fa-download"></i> Download-->
                        <!--</button>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->