﻿<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand">IoT Project Web Server</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" *ngIf="currentUser">
                <li title="Home" class="active"><a [routerLink]="['/']"><i class="fa fa-home"></i>Home</a></li>
                <li title="Register Device"><a [routerLink]="['/register_device']"><i class="fa fa-plus-square"></i>Register Device</a></li>
                <li title="All Devices"><a [routerLink]="['/all_devices']"><i class="fa fa-list-ul"></i>All Devices</a></li>
                <li title="Logout"><a [routerLink]="['/login']"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="!currentUser">
                <li title="Login"><a [routerLink]="['/login']"><i class="fa fa-sign-in"></i>Sign-in</a></li>
                <li title="Create Account"><a [routerLink]="['/register']"><i class="fa fa-user-plus"></i>Sign-up</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" *ngIf="currentUser">
    <div class="col-md-12">
        <h2>Hi {{currentUser.firstName}}!</h2>
        <p>You're logged in!!</p>

        <h3>All registered users:</h3>
        <ul>
            <li *ngFor="let user of users">
                {{user.username}} ({{user.firstName}} {{user.lastName}})
                <!-- - <a (click)="deleteUser(user.id)">Delete</a>-->
            </li>
        </ul>
        <!--<p><a [routerLink]="['/login']">Logout</a></p>-->
    </div>
</div>

<div class="container" *ngIf="!currentUser">
    <div class="col-md-12">
        <h2>Main Purpose</h2>
        <hr>
        <div>
            <p class="lead"> Users should use this application to configure ip address, sensor types and their respective pins as well as other information to be used to read data and forward it to other layers of IoT Platform.</p>
        </div>
    </div>
</div>