﻿<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand">IoT Project Web Server</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" *ngIf="currentUser">
                <li title="Home"><a [routerLink]="['/']"><i class="fa fa-home"></i>Home</a></li>
                <li title="Register Device"><a [routerLink]="['/register_device']"><i class="fa fa-plus-square"></i>Register Device</a></li>
                <li title="All Devices"><a [routerLink]="['/all_devices']"><i class="fa fa-list-ul"></i>All Devices</a></li>
                <li title="Edit Device" class="active"><a routerLink="/devices/edit/{{currentDevice.id}}"><i class="fa fa-edit"></i>Edit Device</a></li>
                <li title="Logout"><a [routerLink]="['/login']"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>




<div class="col-md-12">
    <h2>Edit Device</h2>
    <form name="form" (ngSubmit)="f.form.valid && editDevice()" #f="ngForm" novalidate>
        <div class="form-group">
            <label>Unique Device Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="currentDevice.name" #name="ngModel" disabled/>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
            <label>Device Description</label>
            <input type="text" class="form-control" name="description" [(ngModel)]="currentDevice.description" #description="ngModel" required/>
            <div *ngIf="f.submitted && !description.valid" class="help-block">Device description is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !board_type.valid }">
            <label for="board_type">Board Type</label>
            <select required class="select form-control input-sm" id="board_type" name="board_type" #board_type="ngModel" [(ngModel)]="currentDevice.board_type">
                <option value="raspberry_pi">Raspberry PI</option>
                <option value="odroid">Odroid</option>
            </select>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !log_level.valid }">
            <label for="log_level">Log Level</label>
            <select required class="select form-control input-sm" id="log_level" name="log_level" #log_level="ngModel" [(ngModel)]="currentDevice.log_level">
                <option value=0>Notset</option>
                <option value=10>Debug</option>
                <option value=20>Info</option>
                <option value=30>Warning</option>
                <option value=40>Error</option>
                <option value=50>Critical</option>
            </select>
            <div *ngIf="f.submitted && !log_level.valid" class="help-block">Log level is required</div>
        </div>


        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && currentDevice.communication_protocols.length === 0 }">
                        <label>Communication Protocols</label>
                        <div class="btn btn-s btn-warning" (click)="addCommunicationProtocol()" type="button">
                            <i class="fa fa-plus push-5-r"></i> Add Protocol
                        </div>
                        <div class="btn btn-s btn-danger" (click)="removeAllCommunicationProtocols()"
                             *ngIf="currentDevice.communication_protocols.length > 1">
                            <i class="fa fa-remove"></i> Remove All Protocols
                        </div>
                    </div>
                </div>

                <div class="panel-body" *ngFor="let communication_protocol of currentDevice.communication_protocols; let i = index">
                    <h4><b>Protocol # {{i + 1}}</b></h4>
                    <div class="row form-group">
                        <div class="col-sm-1 pull-left" style="padding-right: 0; padding-top: 3%">
                            <div (click)="removeCommunicationProtocol(i, communication_protocol)" class="btn btn-xs btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></div>
                        </div>

                        <div class="col-md-2" [ngClass]="{ 'has-error': f.submitted && !communication_protocol.security_type-i.valid }">
                            <label>Security Type</label>
                            <input type="text" class="form-control" name="security_type-{{i}}" [(ngModel)]="communication_protocol.security_type" #communication_protocol.security_type="ngModel" disabled/>
                        </div>

                        <div class="col-md-2">
                            <label>Api Version</label>
                            <input type="text" class="form-control" name="api-{{i}}" [(ngModel)]="communication_protocol.api_version" disabled/>
                        </div>

                        <div class="col-md-3" [ngClass]="{ 'has-error': f.submitted && !communication_protocol.communication_type-i.valid }">
                            <label>Communication Type</label>
                            <input type="text" class="form-control" name="communication_type-{{i}}" [(ngModel)]="communication_protocol.communication_type" #communication_protocol.communication_type="ngModel"/>
                        </div>

                        <div class="col-md-3" [ngClass]="{ 'has-error': f.submitted && !communication_protocol.topic-i.valid }">
                            <label>Kafka Topic</label>
                            <input type="text" class="form-control" name="topic-{{i}}" [(ngModel)]="communication_protocol.topic" #communication_protocol.topic="ngModel" required/>
                            <div *ngIf="f.submitted && !communication_protocol.topic-i.valid" class="help-block">Kafka topic is required</div>
                        </div>


                    </div>

                    <div class="row form-group">
                        <!--<div class="col-md-12 panel-heading" [ngClass]="{ 'has-error': f.submitted && communication_protocol.bootstrap_servers.length === 0 }">-->
                        <div class="col-md-12 panel-heading">
                            <label>Bootstrap Servers</label>
                            <div class="btn btn-xs btn-warning" (click)="addBootstrapServer(i)" type="button">
                                <i class="fa fa-plus push-5-r"></i> Add Server
                            </div>
                            <div class="btn btn-xs btn-danger" (click)="removeAllBootstrapServers(i)"
                                 *ngIf="communication_protocol.bootstrap_servers.length > 1">
                                <i class="fa fa-remove"></i> Remove All Servers
                            </div>
                            <hr>
                        </div>

                        <div class="panel-body" *ngFor="let bootstrap_server of communication_protocol.bootstrap_servers; let j = index" >
                            <div class="col-md-4">
                                <label>Bootstrap Server IP Address</label>
                                <input type="text" class="form-control" name="bootstrap_ip_address-{{i}}-{{j}}" [(ngModel)]="bootstrap_server.ip_address"
                                       minlength="7" maxlength="15" placeholder="127.0.0.1" required/>
                                <div *ngIf="f.submitted && !bootstrap_ip_address-i-j.valid" class="help-block">IP Address is required</div>
                            </div>
                            <div class="col-md-4">
                                <label>Bootstrap Server Port</label>
                                <input type="number" class="form-control" name="bootstrap_server.port-{{i}}-{{j}}" [(ngModel)]="bootstrap_server.port" [min]="0" [max]="65535" required />
                                <div *ngIf="f.submitted && !bootstrap_server.port-i-j.valid" class="help-block">Port is required</div>
                            </div>
                            <div class="col-md-2 pull-left">
                                <div (click)="removeBootstrapServer(i, j)" class="btn btn-xs btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></div>
                            </div>

                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>


        <div class="form-group" *ngIf="currentDevice.board_type === 'raspberry_pi' ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && currentDevice.devices.length === 0 }">
                        <a target="_blank" href="http://sensorkit.en.joy-it.net/index.php?title=Main_Page">Sensors Wiki</a>
                        <div class="btn btn-s btn-warning" (click)="addDevice()" type="button">
                            <i class="fa fa-plus push-5-r"></i> Add Sensor
                        </div>
                        <div class="btn btn-s btn-danger" (click)="removeAllDevices()"
                             *ngIf="currentDevice.devices.length > 1">
                            <i class="fa fa-remove"></i> Remove All Sensors
                        </div>
                    </div>
                </div>

                <div class="panel-body" *ngFor="let device of currentDevice.devices; let i = index">
                    <h4><b>Sensor # {{i + 1}}</b></h4>
                    <div class="row form-group">
                        <div class="col-sm-1 pull-left" style="padding-right: 0; padding-top: 3%">
                            <div (click)="removeDevice(i, device)" class="btn btn-xs btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-md-6" [ngClass]="{ 'has-error': f.submitted && !device.type-i.valid }">
                            <label>Device Type</label>
                            <select class="select form-control input-sm" name="device.type-{{i}}" #device.type="ngModel" [(ngModel)]="device.type" required>
                                <option value="KY01">Temperature sensor module</option>
                                <option value="KY02">Vibration-switch module</option>
                                <option value="KY03">Hall Magneticfield-Sensor module</option>
                                <option value="KY05">Infrared Transmitter module</option>
                                <option value="KY06">Passiv Piezo-Buzzer module</option>
                                <option value="KY10">Light barrier-module</option>
                                <option value="KY12">Active Piezo-Buzzer module</option>
                                <option value="KY13">Temperature-Sensor module</option>
                                <option value="KY15">Combi-Sensor Temperature+Humidity</option>
                                <option value="KY17">Tilt switch module</option>
                                <option value="KY18">Photoresistor module</option>
                                <option value="KY20">Tilt switch module</option>
                                <option value="KY21">Mini magnetic Reed module</option>
                                <option value="KY22">Infrared receiver module</option>
                                <option value="KY24">Linear magnetic Hall sensor</option>
                                <option value="KY25">Reed module</option>
                                <option value="KY26">Flame-sensor module</option>
                                <option value="KY27">Magic light cup module</option>
                                <option value="KY28">Temperature Sensor module (Thermistor)</option>
                                <option value="KY31">Knock-sensor module</option>
                                <option value="KY32">Obstacle-detect module</option>
                                <option value="KY33">Tracking sensor module</option>
                                <option value="KY36">Metal-touch sensor module</option>
                                <option value="KY37">Microphone sensor module (high sensitivity)</option>
                                <option value="KY38">Microphone sound sensor module</option>
                                <option value="KY50">Ultrasonic-distance-sensor</option>
                                <option value="KY52">Pressure-sensor / Temperature-sensor (BMP280)</option>
                            </select>
                        </div>

                        <div class="col-md-3" [ngClass]="{ 'has-error': f.submitted && !device.interval-i.valid }">
                            <label>Read Interval (in seconds)</label>
                            <input type="number" class="form-control" name="device.interval-{{i}}" [(ngModel)]="device.interval" #device.interval="ngModel" required/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12 panel-heading">
                            <label>Input/Output Types</label>
                            <div class="btn btn-xs btn-warning" (click)="addIO(i)" type="button">
                                <i class="fa fa-plus push-5-r"></i> Add I/O
                            </div>
                            <div class="btn btn-xs btn-danger" (click)="removeAllIO(i)"
                                 *ngIf="device.input_output.length > 1">
                                <i class="fa fa-remove"></i> Remove All I/O
                            </div>
                            <hr>
                        </div>

                        <div class="panel-body" *ngFor="let io_entry of device.input_output; let j = index">
                            <div class="col-md-3">
                                <label>Type</label>
                                <select class="select form-control input-sm" id="iotype-{{i}}-{{j}}" name="iotype-{{i}}-{{j}}" #io_entry.type="ngModel" [(ngModel)]="io_entry.type" required>
                                    <option value="OneWireInputOutput">One Wire Input/Output</option>
                                    <option value="GPIOInput">GPIO Input</option>
                                    <option value="GPIOOutput">GPIO Output</option>
                                    <option value="GPIOADCInput">GPIO ADC Input</option>
                                    <option value="GPIOBMP280Input">GPIO BMP 280 Input</option>
                                    <option value="GPIODHTInput">GPIO DHT Input</option>
                                </select>
                                <div *ngIf="f.submitted && !iotype-i-j.valid" class="help-block">Type is required</div>
                            </div>
                            <div class="col-md-2">
                                <label>Name</label>
                                <input type="text" class="form-control" name="ioname-{{i}}-{{j}}" [(ngModel)]="io_entry.name" #io_entry.name="ngModel" required/>
                            </div>
                            <div class="col-md-1">
                                <label>Pin</label>
                                <input type="number" class="form-control" name="iopin-{{i}}-{{j}}" [(ngModel)]="io_entry.pin" #io_entry.pin="ngModel" [min]="0" [max]="50" required/>
                            </div>

                            <div class="col-md-2" *ngIf="io_entry.type==='OneWireInputOutput'">
                                <label>Slave Name</label>
                                <input type="text" class="form-control" name="ioslavename-{{i}}-{{j}}" [(ngModel)]="io_entry.slave_name" #io_entry.slave_name="ngModel" required/>
                            </div>

                            <div class="col-md-2" *ngIf="io_entry.type==='OneWireInputOutput'">
                                <label>Base Directory</label>
                                <input type="text" class="form-control" name="basedirectory-{{i}}-{{j}}" [(ngModel)]="io_entry.base_dir" #io_entry.base_dir="ngModel" required/>
                            </div>

                            <div class="col-md-2" *ngIf="io_entry.type==='GPIOInput'">
                                <label>Pull Up/Down</label>
                                <select class="select form-control input-sm" id="gpiopullupdown-{{i}}-{{j}}" name="gpiopullupdown-{{i}}-{{j}}" #io_entry.gpiopullupdown="ngModel" [(ngModel)]="io_entry.gpiopullupdown" required>
                                    <option value="none">None</option>
                                    <option value="up">Up</option>
                                    <option value="down">Down</option>
                                </select>
                            </div>
                            <div class="col-md-2" *ngIf="io_entry.type==='GPIOADCInput'">
                                <label>GPIO ADS Value</label>
                                <select class="select form-control input-sm" id="gpioadsvalue-{{i}}-{{j}}" name="gpioadsvalue-{{i}}-{{j}}" #io_entry.gpioadsvalue="ngModel" [(ngModel)]="io_entry.gpioadsvalue" required>
                                    <option value="0">ADS1015</option>
                                    <option value="1">ADS1115</option>
                                </select>
                            </div>
                            <div class="col-md-2" *ngIf="io_entry.type==='GPIOADCInput'">
                                <label>GPIO ADC Channel</label>
                                <select class="select form-control input-sm" id="gpioadschannel-{{i}}-{{j}}" name="gpioadschannel-{{i}}-{{j}}" #io_entry.gpioadschannel="ngModel" [(ngModel)]="io_entry.gpioadcchannel" required>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="col-md-2" *ngIf="io_entry.type==='GPIOBMP280Input'">
                                <label>Address</label>
                                <input type="text" class="form-control" name="bmp_address-{{i}}-{{j}}" [(ngModel)]="io_entry.bmp_address" #io_entry.bmp_address="ngModel" required/>
                            </div>
                            <div class="col-md-2" *ngIf="io_entry.type==='GPIODHTInput'">
                                <label>BCM Pin</label>
                                <input type="text" class="form-control" name="bcm_pin-{{i}}-{{j}}" [(ngModel)]="io_entry.bcm_pin" #io_entry.bcm_pin="ngModel" required/>
                            </div>
                            <div class="col-md-1 pull-left">
                                <div (click)="removeIO(i, j)" class="btn btn-xs btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></div>
                            </div>

                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

        <div class="form-group" style="padding-top: 2%">
            <button [disabled]="!f.form.valid" class="btn btn-primary"><i class="fa fa-edit"></i>Edit Device</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
    </form>
</div>