extends ../layout

block content
    - var data = [];
    script.
        function addSensor2() {
            data.push({});
        }
        function addSensor() {
            var element = document.createElement("div");
            element.classList.add("form-group");
            var label = document.createElement("label");
            label.classList.add("col-sm-3");
            label.classList.add("control-label");
            label.innerText ="Interval";
            element.appendChild(label);
            element.appendChild(document.createTextNode('The man who mistook his wife for a hat'));
            var btn = document.getElementById("add_button_id");
            document.getElementById('sensorTab').insertBefore(element, btn);
        }

    .page-header
        h3 #{title}

    form.form-horizontal(action='/register_device', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label.col-sm-3.control-label Device Name
            .col-sm-7
                input.form-control(type='text', name='name', id='name')
        .form-group
            label.col-sm-3.control-label IP Address of Device
            .col-sm-7
                input.form-control(type='text', name='ip_address', id='ip_address')
        .form-group
            label.col-sm-3.control-label Board Type
            .col-sm-7
                select#propertyType.select.form-control.input-sm(name='propertyType')
                    option(value='0', selected= true, disabled=true) -- Select --
                    option(value='raspberry_pi') Raspberry PI
                    option(value='odroid') Odroid

        each sensor, index in data
            .form-group
                label.col-sm-3.control-label Sensor Type
                .col-sm-7
                    select.select.form-control.input-sm(name='sensorType')
                        option(value='0', selected= true, disabled=true) -- Select --
                        option(value='KY01') KY-001 (Temperature)
                        option(value='KY02') KY-002 (Vibration-switch)
                        option(value='KY04') KY-004 (Button-module)
                        option(value='KY50') KY-050 (Distance)

        .form-group
            label.col-sm-3.control-label Sensors
            .col-sm-7#sensorTab
                button.btn.btn.btn-primary#add_button_id(onclick='addSensor2()', type='button') Add Sensor

        //.form-group
        //    label.col-sm-3.control-label Input/Output
        //    .col-sm-6
        //        label.radio.col-sm-3
        //            input(type='radio', name='type', value='gpio', data-toggle='radio')
        //            span GPIO
        //        label.radio.col-sm-3
        //            input(type='radio', name='type', value='one_wire_io', data-toggle='radio')
        //            span One-Wire I/O
        //        label.radio.col-sm-3
        //            input(type='radio', name='type', value='spi', data-toggle='radio')
        //            span SPI
        //.form-group
        //    .col-sm-offset-3.col-sm-4.pull-right
        //        button.btn.btn.btn-primary(type='submit')
        //            i.fa.fa-pencil
        //            | Register Device